<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Năng lượng mặt trời</title>
      <link rel="stylesheet" type="text/css" href="css/fonts/font.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
      <link rel="stylesheet" type="text/css" href="css/owl.theme.default.css">
      <link rel="stylesheet" href="css/demo.css?ver=3.3.0">
      <link rel="stylesheet"  type="text/css"  href="css/swiper.min.css">
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <link rel="stylesheet" type="text/css" href="css/responsive.css">
      <!-- link mobile  -->
      <!-- end link mobile -->
   </head>
   <body>
      <div class="page-body-buong">
         <header id="header-site">
           
            <div class="container">
               <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-6">
                     <a href="" class="logo">
                     <img src="images/logo.png" alt="">
                     </a>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                     <div class="header-right">
                        <div class="search-holine">
                           <div class="cart-top"><img src="images/icon2.png" alt=""><span class="stt">10</span></div>
                           <button class="click-search" data-toggle="modal" data-target="#myModal"><i class="fas fa-search"></i></button>
                           
                            <div class="clearfix"></div>
                           
                        </div>
                      
                     </div>
                  </div>
               </div>
                 <div class="main-menu">
                   <!-- begin mobile -->
            <div class="wrapper cf">
               <nav id="main-nav">
                  <ul class="second-nav">
                     <li class="devices">
                        <span>Devices</span>
                       
                     </li>
                     <li class="magazines">
                        <a href="#">Magazines</a>
                        <ul>
                           <li><a href="#">National Geographic</a></li>
                           <li><a href="#">Scientific American</a></li>
                           <li><a href="#">The Spectator</a></li>
                           <li><a href="#">The Rambler</a></li>
                           <li><a href="#">Physics World</a></li>
                           <li><a href="#">Popular Science</a></li>
                           <li><a href="#">Popular Mechanics</a></li>
                           <li><a href="#">Sky & Telescope</a></li>
                           <li><a href="#">Discover</a></li>
                           <li><a href="#">New Scientist</a></li>
                           <li><a href="#">Psychology Today</a></li>
                           <li><a href="#">Wired</a></li>
                        </ul>
                     </li>
                     <li class="store">
                        <a href="#">Store</a>
                        <ul>
                           <li>
                              <a href="#">Clothes</a>
                              <ul>
                                 <li>
                                    <a href="#">Women's Clothing</a>
                                    <ul>
                                       <li><a href="#">Tops</a></li>
                                       <li><a href="#">Dresses</a></li>
                                       <li><a href="#">Trousers</a></li>
                                       <li><a href="#">Shoes</a></li>
                                       <li><a href="#">Sale</a></li>
                                    </ul>
                                 </li>
                                 <li>
                                    <a href="#">Men's Clothing</a>
                                    <ul>
                                       <li><a href="#">Shirts</a></li>
                                       <li><a href="#">Trousers</a></li>
                                       <li><a href="#">Shoes</a></li>
                                       <li><a href="#">Sale</a></li>
                                    </ul>
                                 </li>
                              </ul>
                           </li>
                           <li>
                              <a href="#">Jewelry</a>
                           </li>
                           <li>
                              <a href="#">Music</a>
                           </li>
                           <li>
                              <a href="#">Grocery</a>
                           </li>
                        </ul>
                     </li>
                     <li class="collections"><a href="#">Collections</a></li>
                     <li class="credits"><a href="#">Credits</a></li>
                  </ul>
               </nav>
               <a class="toggle">
               <span></span>
               </a>
            </div>
            <!-- end mobile -->
                           <ul>
                              <li class="active"><a href="">Trang chủ</a></li>
                              <li><a href="">Giới thiệu</a></li>
                              <li>
                                 <a href="">Sản phẩm</a>
                              </li>
                              <li><a href="">Tin tức</a></li>
                           </ul>
                        </div>
            </div>
         </header>
         <!-- end header -->
         <div id="main" class="wrapper main-product-detail">
            
           <div class="breadcrumb">
               <div class="container">
                   <ul>
                      <li><a href=" ">Trang chủ  /</a></li>
                      <li><a href="">Tin tức</a></li>
                  </ul> 
               </div> 
           </div>
           <div class="container">
              <div class="content-product-detail">
                 <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                           <div class="list-img">
                           <div class="slider-large1 owl-carousel">
                              <div class="item" data-hash="one">
                                 <img src="images/img3.png" alt="">
                              </div>
                              <div class="item" data-hash="two">
                                 <img src="images/img4.png" alt="">
                              </div>
                              <div class="item" data-hash="three">
                                 <img src="images/img5.png" alt="">
                              </div>
                              <div class="item" data-hash="four">
                                 <img src="images/img3.png" alt="">
                              </div>
                              <div class="item" data-hash="one1">
                                 <img src="images/img3.png" alt="">
                              </div>
                              <div class="item" data-hash="two1">
                                 <img src="images/img4.png" alt="">
                              </div>
                              <div class="item" data-hash="three1">
                                 <img src="images/img5.png" alt="">
                              </div>
                              <div class="item" data-hash="four1">
                                 <img src="images/img3.png" alt="">
                              </div>
                           </div>
                           <div class="slider-small1 owl-carousel">
                              <a href="#one">
                              <img src="images/img3.png" alt="">
                              </a>
                              <a href="#two">
                              <img src="images/img4.png" alt="">
                              </a>
                              <a href="#three">
                              <img src="images/img5.png" alt="">
                              </a>
                              <a href="#four">
                              <img src="images/img3.png" alt="">
                              </a>
                              <a href="#one1">
                              <img src="images/img3.png" alt="">
                              </a>
                              <a href="#two1">
                              <img src="images/img4.png" alt="">
                              </a>
                              <a href="#three1">
                              <img src="images/img5.png" alt="">
                              </a>
                              <a href="#four1">
                              <img src="images/img3.png" alt="">
                              </a>
                           </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                       <div class="product-detail-right filter-product">
                          <p class="conhang">Còn hàng</p>
                          <h3 class="title">Kính áp tròng Lavier Choco</h3>
                          <p class="price">Giá: <span>180.000đ</span></p>
                          <div class="list-content">
                             <p>Dãy độ 0 – 10 độ:0 – 10 độ</p>
                             <p>GDia   13.6 mm:13.6 mm</p>
                             <p>Độ cong của lens (B.C)   8.7: 8.7</p>
                             <p>Hàm lượng nước  33%: 33%</p>
                             <p>Hạn sử dụng: 6 tháng</p>
                          </div> 
                          <div class="list-content2 nav-filter-product">
                             <div class="row item2">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                   <div class="item">
                                      <label for="" class="label">Chọn độ cận</label>
                                      <select name="" id="">
                                         <option value="">Mắt trái</option>
                                      </select>
                                      <select name="" id="">
                                         <option value="">Mắt phải</option>
                                      </select>
                                   </div>
                                   <div class="item">
                                      <label for="" class="label">Chọn Số lượng</label>
                                      <select name="" id="">
                                         <option value="">01</option>
                                      </select>
                                     
                                   </div>
                                </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                   <div class="item">
                                      <label for="" class="label">Chọn màu</label>
                                      <div class="nav-checkbox">
                                   <div class="checkbox">
                                    <input type="checkbox" id="a" checked>
                                    <label for="a"></label>
                                    <span>Pink</span>
                                 </div>
                                 <div class="checkbox">
                                    <input type="checkbox" id="b">
                                    <label for="b"></label>
                                    <span>violet</span>
                                 </div>
                                 <div class="checkbox">
                                    <input type="checkbox" id="c">
                                    <label for="c"></label>
                                    <span>red</span>
                                 </div>
                                 <div class="checkbox">
                                    <input type="checkbox" id="d">
                                    <label for="d"></label>
                                    <span>Green</span>
                                 </div>
                                
                             
                                 </div>
                                   </div>
                                   <div class="item addto-cart">
                                      <a href="">Thêm vào giỏ</a>
                                   </div>
                                   
                                </div>
                             </div>
                             <div class="muahang">
                                <a href="">Mua hàng</a>
                             </div>
                          </div>  

                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="information-detail-product">
            <div class="container">
               <div class="content-information-detail-product">
                    <div class="list-detail">
                           <nav class="navigation" id="mainNav">
                          <ul>
                             <li class="active">
                                <a class="navigation__link" href="#1">Thông tin chi tiết</a>
                             </li>
                             <li>
                                <a class="navigation__link" href="#2">Thông Số kỹ thuật</a>
                             </li>
                             <li>
                                <a class="navigation__link" href="#3">Bình luận</a>
                             </li>
                          </ul>
                       </nav>
                       </div>
                         <div class="content-list-detail ">
                 <div class="item-content page-section" id="1">
                    <h3 class="title">Thông tin chi tiết </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit justo at odio consectetur faucibus. Ut nec ullamcorper lectus, nec sagittis elit. Vivamus porttitor lectus eu sapien maximus pulvinar. Maecenas sit amet elit turpis. Aenean ipsum libero, commodo et arcu eu, bibendum condimentum odio. In eu finibus magna. Fusce aliquet in enim vitae interdum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit justo at odio consectetur faucibus. Ut nec ullamcorper lectus, nec sagittis elit. Vivamus porttitor lectus eu sapien maximus pulvinar. Maecenas sit amet elit turpis. Aenean ipsum libero, commodo et arcu eu, bibendum condimentum odio. In eu finibus magna. Fusce aliquet in enim vitae interdum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit justo at odio consectetur faucibus. Ut nec ullamcorper lectus, nec sagittis elit. Vivamus porttitor lectus eu sapien maximus pulvinar. Maecenas sit amet elit turpis. Aenean ipsum libero, commodo et arcu eu, bibendum condimentum odio. In eu finibus magna. Fusce aliquet in enim vitae interdum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit justo at odio consectetur faucibus. Ut nec ullamcorper lectus, nec sagittis elit. Vivamus porttitor lectus eu sapien maximus pulvinar. Maecenas sit amet elit turpis. Aenean ipsum libero, commodo et arcu eu, bibendum condimentum odio. In eu finibus magna. Fusce aliquet in enim vitae interdum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit justo at odio consectetur faucibus. Ut nec ullamcorper lectus, nec sagittis elit. Vivamus porttitor lectus eu sapien maximus pulvinar. Maecenas sit amet elit turpis. Aenean ipsum libero, commodo et arcu eu, bibendum condimentum odio. In eu finibus magna. Fusce aliquet in enim vitae interdum.</p>
                 </div>
                   <div class="item-content page-section" id="2">
                    <h3 class="title">Thông Số kỹ thuật </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit justo at odio consectetur faucibus. Ut nec ullamcorper lectus, nec sagittis elit. Vivamus porttitor lectus eu sapien maximus pulvinar. Maecenas sit amet elit turpis. Aenean ipsum libero, commodo et arcu eu, bibendum condimentum odio. In eu finibus magna. Fusce aliquet in enim vitae interdum.</p>
                    <table>
                       <tr>
                          <td>Dãy độ</td>
                          <td>0-10 độ</td>
                       </tr>
                       <tr>
                          <td>Hàm lượng nước</td>
                          <td>33%</td>
                       </tr>
                       <tr>
                          <td>Dãy độ</td>
                          <td>0-10 độ</td>
                       </tr>
                       <tr>
                          <td>Hàm lượng nước</td>
                          <td>33%</td>
                       </tr>
                       <tr>
                          <td>Dãy độ</td>
                          <td>0-10 độ</td>
                       </tr>
                       <tr>
                          <td>Hàm lượng nước</td>
                          <td>33%</td>
                       </tr>
                       <tr>
                          <td>Dãy độ</td>
                          <td>0-10 độ</td>
                       </tr>
                       <tr>
                          <td>Hàm lượng nước</td>
                          <td>33%</td>
                       </tr>

                    </table>
                    <div class="logo-tb">
                    <img src="images/logo1.png" alt=""> <img src="images/logo2.png" alt="">
                    </div>
                 </div>
                   <div class="item-content page-section" id="3">
                    <h3 class="title">Bình luận</h3>
                    
                  
                 </div>
              </div> 

               </div>
              
            
            </div>
             
           </div> 

           <div class="other-poduct">
              <div class="container">
               <h3 class="other-title">Sản phẩm tương tự</h3>
                 <div class="other-product owl-carousel">
                      <div class="item22">
                      <div class="item-large">
                        <div class="item1">
                         
                                 <div class="slider-large owl-carousel">
                                    <div class="item" data-hash="one">
                                       <img src="images/img12.png" alt="">
                                    </div>
                                    <div class="item" data-hash="two">
                                       <img src="images/img13.png" alt="">
                                    </div>
                                    <div class="item" data-hash="three">
                                       <img src="images/img14.png" alt="">
                                    </div>
                                    
                                 </div>
                                
                                 <div class="nav-item1">
                                    <h3 class="title-product"><a href="">KÍNH ÁP TRÒNG CẬN LOẠN 24H</a></h3>
                                    <p class="price">1.800.000đ</p>
                                 </div>
                                  <div class="slider-small owl-carousel">
                                    <a href="#one" style="background: #40240d">
                                    </a>
                                    <a href="#two" style="background: #8e592e">
                                    </a>
                                    <a href="#three" style="background: #c16a25">
                                    </a>
                                 </div>

                                
                            
                        </div>
                     
                      </div>
                    </div>
                    <div class="item22">
                      <div class="item-large">
                        <div class="item1">
                         
                                 <div class="slider-large owl-carousel">
                                    <div class="item" data-hash="one3">
                                       <img src="images/img12.png" alt="">
                                    </div>
                                    <div class="item" data-hash="two3">
                                       <img src="images/img13.png" alt="">
                                    </div>
                                    <div class="item" data-hash="three3">
                                       <img src="images/img14.png" alt="">
                                    </div>
                                    
                                 </div>
                              
                                 <div class="nav-item1">
                                    <h3 class="title-product"><a href="">KÍNH ÁP TRÒNG CẬN LOẠN 24H</a></h3>
                                    <p class="price">1.800.000đ</p>
                                 </div>
                                    <div class="slider-small owl-carousel">
                                    <a href="#one3" style="background: #40240d">
                                    </a>
                                    <a href="#two3" style="background: #8e592e">
                                    </a>
                                    <a href="#three3" style="background: #c16a25">
                                    </a>
                                 </div>

                                
                            
                        </div>
                       
                      </div>
                    </div>
                    <div class="item22">
                      <div class="item-large">
                        <div class="item1">
                         
                                 <div class="slider-large owl-carousel">
                                    <div class="item" data-hash="one2">
                                       <img src="images/img12.png" alt="">
                                    </div>
                                    <div class="item" data-hash="two2">
                                       <img src="images/img13.png" alt="">
                                    </div>
                                    <div class="item" data-hash="three2">
                                       <img src="images/img14.png" alt="">
                                    </div>
                                    
                                 </div>
                                 
                                 <div class="nav-item1">
                                    <h3 class="title-product"><a href="">KÍNH ÁP TRÒNG CẬN LOẠN 24H</a></h3>
                                    <p class="price">1.800.000đ</p>
                                 </div>
                                 <div class="slider-small owl-carousel">
                                    <a href="#one2" style="background: #40240d">
                                    </a>
                                    <a href="#two2" style="background: #8e592e">
                                    </a>
                                    <a href="#three2" style="background: #c16a25">
                                    </a>
                                 </div>

                                
                            
                        </div>
                    
                      </div>
                    </div>
                    <div class="item22">
                      <div class="item-large">
                        <div class="item1">
                         
                                 <div class="slider-large owl-carousel">
                                    <div class="item" data-hash="one1">
                                       <img src="images/img12.png" alt="">
                                    </div>
                                    <div class="item" data-hash="two1">
                                       <img src="images/img13.png" alt="">
                                    </div>
                                    <div class="item" data-hash="three1">
                                       <img src="images/img14.png" alt="">
                                    </div>
                                    
                                 </div>
                                 
                                 <div class="nav-item1">
                                    <h3 class="title-product"><a href="">KÍNH ÁP TRÒNG CẬN LOẠN 24H</a></h3>
                                    <p class="price">1.800.000đ</p>
                                 </div>
                                 <div class="slider-small owl-carousel">
                                    <a href="#one1" style="background: #40240d">
                                    </a>
                                    <a href="#two1" style="background: #8e592e">
                                    </a>
                                    <a href="#three1" style="background: #c16a25">
                                    </a>
                                 </div>

                                
                            
                        </div>
                      
                      </div>
                    </div>
                     <div class="item22">
                      <div class="item-large">
                        <div class="item1">
                         
                                 <div class="slider-large owl-carousel">
                                    <div class="item" data-hash="one4">
                                       <img src="images/img12.png" alt="">
                                    </div>
                                    <div class="item" data-hash="two4">
                                       <img src="images/img13.png" alt="">
                                    </div>
                                    <div class="item" data-hash="three4">
                                       <img src="images/img14.png" alt="">
                                    </div>
                                    
                                 </div>
                                
                                 <div class="nav-item1">
                                    <h3 class="title-product"><a href="">KÍNH ÁP TRÒNG CẬN LOẠN 24H</a></h3>
                                    <p class="price">1.800.000đ</p>
                                 </div>
                                  <div class="slider-small owl-carousel">
                                    <a href="#one4" style="background: #40240d">
                                    </a>
                                    <a href="#two4" style="background: #8e592e">
                                    </a>
                                    <a href="#three4" style="background: #c16a25">
                                    </a>
                                 </div>

                                
                            
                        </div>
                      
                      </div>
                    </div>
                     <div class="item22">
                      <div class="item-large">
                        <div class="item1">
                         
                                 <div class="slider-large owl-carousel">
                                    <div class="item" data-hash="one5">
                                       <img src="images/img12.png" alt="">
                                    </div>
                                    <div class="item" data-hash="two5">
                                       <img src="images/img13.png" alt="">
                                    </div>
                                    <div class="item" data-hash="three5">
                                       <img src="images/img14.png" alt="">
                                    </div>
                                    
                                 </div>
                                 
                                 <div class="nav-item1">
                                    <h3 class="title-product"><a href="">KÍNH ÁP TRÒNG CẬN LOẠN 24H</a></h3>
                                    <p class="price">1.800.000đ</p>
                                 </div>
                                 <div class="slider-small owl-carousel">
                                    <a href="#one5" style="background: #40240d">
                                    </a>
                                    <a href="#two5" style="background: #8e592e">
                                    </a>
                                    <a href="#three5" style="background: #c16a25">
                                    </a>
                                 </div>

                                
                            
                        </div>
                      
                      </div>
                    </div>
                     <div class="item22">
                      <div class="item-large">
                        <div class="item1">
                         
                                 <div class="slider-large owl-carousel">
                                    <div class="item" data-hash="one6">
                                       <img src="images/img12.png" alt="">
                                    </div>
                                    <div class="item" data-hash="two6">
                                       <img src="images/img13.png" alt="">
                                    </div>
                                    <div class="item" data-hash="three6">
                                       <img src="images/img14.png" alt="">
                                    </div>
                                    
                                 </div>
                                
                                 <div class="nav-item1">
                                    <h3 class="title-product"><a href="">KÍNH ÁP TRÒNG CẬN LOẠN 24H</a></h3>
                                    <p class="price">1.800.000đ</p>
                                 </div>
                                  <div class="slider-small owl-carousel">
                                    <a href="#one6" style="background: #40240d">
                                    </a>
                                    <a href="#two6" style="background: #8e592e">
                                    </a>
                                    <a href="#three6" style="background: #c16a25">
                                    </a>
                                 </div>

                                
                            
                        </div>
                      
                      </div>
                    </div>
                 </div>
              </div>
           </div>

          

          
         </div>

       <footer id="footer-site" >
            <div class="footer-1">
               <div class="container">
                  <div class="wp-ft">
                     <h3 class="h3-title-ft">Tên doanh nghiệp Perfectlens.vn</h3>
                     <p>Địa chỉ: Số 393 C9, ngõ 210 Đường Tân Mai, Tân Mai, Q. Hoàng Mai, Hà Nội.</p>
                     <p>Số điện thoại: 0123.456.789</p>
                     <p>Email: demo@gmail.com</p>
                     <p>Website: demo.com</p>
                     <p>Giờ làm việc: T2-CN, 9:00-20:00</p>
               
                     <div class="link-xh">
                       <ul>
                        
                         <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                         <li><a href=""><i class="fab fa-twitter"></i></a></li>
                         <li><a href=""><i class="fab fa-instagram"></i></a></li>
                         <li><a href=""><i class="fab fa-google"></i></a></li>
                         <li><a href=""><i class="fab fa-youtube"></i></a></li>
                       </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copy-right">
               <div class="container">
                  <div class="wp-copy text-center">
                     Bản quyền thuộc về... Thiết kế website bởi <a href="https://ovn-admin.vn/" target="_blank">OVN CRM</a>
                  </div>
               </div>
            </div>
         </footer>
         <div class="toolbar">
            <div class="inner">
               <a class="zalo" href="" title=""><img src="images/icon-zalo.png" alt=""></a>
               <a class="fone" href="tel:0904720388" title="0904720388"><img src="images/phone.png" alt=""></a>
               <a class="messenger" href=" "><img src="images/mes.png"></a>
            </div>
         </div>
          <a id="scrollUp"><i class="fa fa-angle-up"></i></a>
         </div>

         <!-- Modal -->
            <div id="myModal" class="modal-search modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    
                  </div>
                  <div class="modal-body">
                    <form action="">
                       <input type="text">
                       <input type="submit" value="Tìm kiếm">
                    </form>
                  </div>
                 
                </div>

              </div>
            </div>

        
        
      </div>
      <!-- div end site -->
      <script type="text/javascript" src="js/jquery.min.js"></script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
      <script  type="text/javascript" src="js/swiper.min.js"></script>
      <script type="text/javascript" src="js/swiper.min.js.map"></script>
      <script type="text/javascript" src="js/owl.carousel.min.js"></script>
      <script src="js/all.js"></script>
      <script src="js/hc-offcanvas-nav.js"></script>

      <script type="text/javascript" src="js/main.js"></script>
    
   </body>
</html>