<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Năng lượng mặt trời</title>
    <link rel="stylesheet" type="text/css" href="css/fonts/font.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.css">
    <link rel="stylesheet" href="css/demo.css?ver=3.3.0">
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <!-- link mobile  -->
    <!-- end link mobile -->
</head>
<body>
<div class="page-body-buong">
    <header id="header-site">

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <a href="" class="logo">
                        <img src="images/logo.png" alt="">
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="header-right">
                        <div class="search-holine">
                            <div class="cart-top"><img src="images/icon2.png" alt=""><span class="stt">10</span></div>
                            <button class="click-search" data-toggle="modal" data-target="#myModal"><i
                                    class="fas fa-search"></i></button>

                            <div class="clearfix"></div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="main-menu">
                <!-- begin mobile -->
                <div class="wrapper cf">
                    <nav id="main-nav">
                        <ul class="second-nav">
                            <li class="devices">
                                <span>Devices</span>

                            </li>
                            <li class="magazines">
                                <a href="#">Magazines</a>
                                <ul>
                                    <li><a href="#">National Geographic</a></li>
                                    <li><a href="#">Scientific American</a></li>
                                    <li><a href="#">The Spectator</a></li>
                                    <li><a href="#">The Rambler</a></li>
                                    <li><a href="#">Physics World</a></li>
                                    <li><a href="#">Popular Science</a></li>
                                    <li><a href="#">Popular Mechanics</a></li>
                                    <li><a href="#">Sky & Telescope</a></li>
                                    <li><a href="#">Discover</a></li>
                                    <li><a href="#">New Scientist</a></li>
                                    <li><a href="#">Psychology Today</a></li>
                                    <li><a href="#">Wired</a></li>
                                </ul>
                            </li>
                            <li class="store">
                                <a href="#">Store</a>
                                <ul>
                                    <li>
                                        <a href="#">Clothes</a>
                                        <ul>
                                            <li>
                                                <a href="#">Women's Clothing</a>
                                                <ul>
                                                    <li><a href="#">Tops</a></li>
                                                    <li><a href="#">Dresses</a></li>
                                                    <li><a href="#">Trousers</a></li>
                                                    <li><a href="#">Shoes</a></li>
                                                    <li><a href="#">Sale</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Men's Clothing</a>
                                                <ul>
                                                    <li><a href="#">Shirts</a></li>
                                                    <li><a href="#">Trousers</a></li>
                                                    <li><a href="#">Shoes</a></li>
                                                    <li><a href="#">Sale</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Jewelry</a>
                                    </li>
                                    <li>
                                        <a href="#">Music</a>
                                    </li>
                                    <li>
                                        <a href="#">Grocery</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="collections"><a href="#">Collections</a></li>
                            <li class="credits"><a href="#">Credits</a></li>
                        </ul>
                    </nav>
                    <a class="toggle">
                        <span></span>
                    </a>
                </div>
                <!-- end mobile -->
                <ul>
                    <li class="active"><a href="">Trang chủ</a></li>
                    <li><a href="">Giới thiệu</a></li>
                    <li>
                        <a href="">Sản phẩm</a>
                    </li>
                    <li><a href="">Tin tức</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- end header -->
    <div id="main" class="wrapper">
        <div class="swiper-container slider-main">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="images/banner.png" alt=""></div>
                <div class="swiper-slide"><img src="images/banner.png" alt=""></div>
                <div class="swiper-slide"><img src="images/banner.png" alt=""></div>
                <div class="swiper-slide"><img src="images/banner.png" alt=""></div>
                <div class="swiper-slide"><img src="images/banner.png" alt=""></div>


            </div>
            <div class="swiper-pagination"></div>
            <!-- <div class="swiper-pagination fraction"></div> -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <span class="fraction"></span>
        </div>

    </div>

    <section class="filter-product  ">
        <div class="container">
            <div class="title-title center">
                <h2 class="title-primary">Lọc sản phẩm phù hợp với bạn</h2>

            </div>
            <div class="nav-filter-product">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="item">
                            <div class="item1">
                                <h3 class="title-top"><span class="title">Độ cận</span><span class="choose-title"><i
                                        class="fas fa-check-circle"></i>Chọn tất cả</span></h3>
                                <div class="nav-item1">
                                    <ul>
                                        <li class="active"><a href="">1.00 độ</a></li>
                                        <li><a href="">1.00 độ</a></li>
                                        <li><a href="">1.00 độ</a></li>
                                        <li><a href="">1.00 độ</a></li>
                                        <li><a href="">1.00 độ</a></li>
                                        <li><a href="">1.00 độ</a></li>
                                        <li><a href="">1.00 độ</a></li>
                                        <li><a href="">1.00 độ</a></li>
                                        <li><a href="">1.00 độ</a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="item1 item2">
                                <h3 class="title-top"><span class="title">Độ giãn</span><span class="choose-title"><i
                                        class="fas fa-check-circle"></i>Chọn tất cả</span></h3>
                                <div class="nav-item1">
                                    <ul>
                                        <li><a href="">Len XS</a></li>
                                        <li><a href="">Len S</a></li>
                                        <li><a href="">Len M</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="item">
                            <div class="item2">
                                <h3 class="title-top"><span class="title">Màu sắc</span><span class="choose-title"><i
                                        class="fas fa-check-circle"></i>Chọn tất cả</span></h3>
                                <div class="nav-checkbox">
                                    <div class="checkbox">
                                        <input type="checkbox" id="a" checked>
                                        <label for="a"></label>
                                        <span>Pink</span>
                                    </div>
                                    <div class="checkbox">
                                        <input type="checkbox" id="b">
                                        <label for="b"></label>
                                        <span>violet</span>
                                    </div>
                                    <div class="checkbox">
                                        <input type="checkbox" id="c">
                                        <label for="c"></label>
                                        <span>red</span>
                                    </div>
                                    <div class="checkbox">
                                        <input type="checkbox" id="d">
                                        <label for="d"></label>
                                        <span>Green</span>
                                    </div>
                                    <div class="checkbox">
                                        <input type="checkbox" id="e">
                                        <label for="e"></label>
                                        <span>Blue</span>
                                    </div>
                                    <div class="checkbox">
                                        <input type="checkbox" id="e1">
                                        <label for="e1"></label>
                                        <span>Back</span>
                                    </div>
                                    <div class="checkbox">
                                        <input type="checkbox" id="e2">
                                        <label for="e2"></label>
                                        <span>Bink</span>
                                    </div>
                                    <div class="checkbox">
                                        <input type="checkbox" id="e3">
                                        <label for="e3"></label>
                                        <span>Viclet</span>
                                    </div>
                                    <div class="checkbox">
                                        <input type="checkbox" id="e4">
                                        <label for="e4"></label>
                                        <span>Viclet</span>
                                    </div>
                                    <div class="checkbox">
                                        <input type="checkbox" id="e5">
                                        <label for="e5"></label>
                                        <span>Viclet</span>
                                    </div>
                                    <div class="checkbox">
                                        <input type="checkbox" id="e6">
                                        <label for="e6"></label>
                                        <span>Viclet</span>
                                    </div>
                                    <div class="checkbox">
                                        <input type="checkbox" id="e7">
                                        <label for="e7"></label>
                                        <span>Viclet</span>
                                    </div>

                                </div>

                            </div>
                            <div class="item1 item3">
                                <h3 class="title-top"><span class="title">Đặc tính sản phẩm</span><span
                                        class="choose-title"><i class="fas fa-check-circle"></i>Chọn tất cả</span></h3>
                                <div class="nav-item1">
                                    <ul>
                                        <li><a href="">Len không viền</a></li>
                                        <li><a href="">Len có viền</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="loc-sp">
                <a href="">Lọc sản phẩm</a>
            </div>
        </div>
    </section>
    <section class="product-new product-new1">
        <div class="container">
            <div class="title-title center">
                <h2 class="title-primary">Sản phẩm mới về</h2>
            </div>
            <div class="nav-product-new">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="item-large">
                            <div class="item1">

                                <div class="slider-large owl-carousel">
                                    <div class="item" data-hash="one">
                                        <img src="images/img3.png" alt="">
                                    </div>
                                    <div class="item" data-hash="two">
                                        <img src="images/img4.png" alt="">
                                    </div>
                                    <div class="item" data-hash="three">
                                        <img src="images/img5.png" alt="">
                                    </div>

                                </div>
                                <div class="slider-small owl-carousel">
                                    <a href="#one" style="background: #40240d">
                                    </a>
                                    <a href="#two" style="background: #8e592e">
                                    </a>
                                    <a href="#three" style="background: #c16a25">
                                    </a>
                                </div>
                                <div class="nav-item1">
                                    <h3 class="title-product"><a href="">KÍNH ÁP TRÒNG CẬN LOẠN 24H</a></h3>
                                    <p class="price">1.800.000đ</p>
                                </div>


                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="item-large">
                            <div class="item1">

                                <div class="slider-large owl-carousel">
                                    <div class="item" data-hash="one3">
                                        <img src="images/img3.png" alt="">
                                    </div>
                                    <div class="item" data-hash="two3">
                                        <img src="images/img4.png" alt="">
                                    </div>
                                    <div class="item" data-hash="three3">
                                        <img src="images/img5.png" alt="">
                                    </div>

                                </div>
                                <div class="slider-small owl-carousel">
                                    <a href="#one3" style="background: #40240d">
                                    </a>
                                    <a href="#two3" style="background: #8e592e">
                                    </a>
                                    <a href="#three3" style="background: #c16a25">
                                    </a>
                                </div>
                                <div class="nav-item1">
                                    <h3 class="title-product"><a href="">KÍNH ÁP TRÒNG CẬN LOẠN 24H</a></h3>
                                    <p class="price">1.800.000đ</p>
                                </div>


                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="item-large">
                            <div class="item1">

                                <div class="slider-large owl-carousel">
                                    <div class="item" data-hash="one2">
                                        <img src="images/img3.png" alt="">
                                    </div>
                                    <div class="item" data-hash="two2">
                                        <img src="images/img4.png" alt="">
                                    </div>
                                    <div class="item" data-hash="three2">
                                        <img src="images/img5.png" alt="">
                                    </div>

                                </div>
                                <div class="slider-small owl-carousel">
                                    <a href="#one2" style="background: #40240d">
                                    </a>
                                    <a href="#two2" style="background: #8e592e">
                                    </a>
                                    <a href="#three2" style="background: #c16a25">
                                    </a>
                                </div>
                                <div class="nav-item1">
                                    <h3 class="title-product"><a href="">KÍNH ÁP TRÒNG CẬN LOẠN 24H</a></h3>
                                    <p class="price">1.800.000đ</p>
                                </div>


                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="item-large">
                            <div class="item1">

                                <div class="slider-large owl-carousel">
                                    <div class="item" data-hash="one1">
                                        <img src="images/img3.png" alt="">
                                    </div>
                                    <div class="item" data-hash="two1">
                                        <img src="images/img4.png" alt="">
                                    </div>
                                    <div class="item" data-hash="three1">
                                        <img src="images/img5.png" alt="">
                                    </div>

                                </div>
                                <div class="slider-small owl-carousel">
                                    <a href="#one1" style="background: #40240d">
                                    </a>
                                    <a href="#two1" style="background: #8e592e">
                                    </a>
                                    <a href="#three1" style="background: #c16a25">
                                    </a>
                                </div>
                                <div class="nav-item1">
                                    <h3 class="title-product"><a href="">KÍNH ÁP TRÒNG CẬN LOẠN 24H</a></h3>
                                    <p class="price">1.800.000đ</p>
                                </div>


                            </div>

                        </div>
                    </div>
                    <div class="xemtatca">
                        <a href="">Xem tất cả</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="accessories-home  ">
        <div class="container">
            <div class="title-title center">
                <h2 class="title-primary">Phụ kiện</h2>

            </div>
            <div class="nav-accessories-home">

                <div class="item-large">
                    <div class="item1">

                        <div class="slider-large owl-carousel">
                            <div class="item" data-hash="one">
                                <img src="images/img12.png" alt="">
                            </div>
                            <div class="item" data-hash="two">
                                <img src="images/img13.png" alt="">
                            </div>
                            <div class="item" data-hash="three">
                                <img src="images/img14.png" alt="">
                            </div>

                        </div>

                        <div class="nav-item1">
                            <h3 class="title-product"><a href="">KÍNH ÁP TRÒNG CẬN LOẠN 24H</a></h3>
                            <p class="price">1.800.000đ</p>
                        </div>
                        <div class="slider-small owl-carousel">
                            <a href="#one" style="background: #40240d">
                            </a>
                            <a href="#two" style="background: #8e592e">
                            </a>
                            <a href="#three" style="background: #c16a25">
                            </a>
                        </div>


                    </div>

                </div>
                <div class="item-large">
                    <div class="item1">

                        <div class="slider-large owl-carousel">
                            <div class="item" data-hash="one3">
                                <img src="images/img12.png" alt="">
                            </div>
                            <div class="item" data-hash="two3">
                                <img src="images/img13.png" alt="">
                            </div>
                            <div class="item" data-hash="three3">
                                <img src="images/img14.png" alt="">
                            </div>

                        </div>

                        <div class="nav-item1">
                            <h3 class="title-product"><a href="">KÍNH ÁP TRÒNG CẬN LOẠN 24H</a></h3>
                            <p class="price">1.800.000đ</p>
                        </div>
                        <div class="slider-small owl-carousel">
                            <a href="#one3" style="background: #40240d">
                            </a>
                            <a href="#two3" style="background: #8e592e">
                            </a>
                            <a href="#three3" style="background: #c16a25">
                            </a>
                        </div>


                    </div>

                </div>
                <div class="item-large">
                    <div class="item1">

                        <div class="slider-large owl-carousel">
                            <div class="item" data-hash="one2">
                                <img src="images/img12.png" alt="">
                            </div>
                            <div class="item" data-hash="two2">
                                <img src="images/img13.png" alt="">
                            </div>
                            <div class="item" data-hash="three2">
                                <img src="images/img14.png" alt="">
                            </div>

                        </div>

                        <div class="nav-item1">
                            <h3 class="title-product"><a href="">KÍNH ÁP TRÒNG CẬN LOẠN 24H</a></h3>
                            <p class="price">1.800.000đ</p>
                        </div>
                        <div class="slider-small owl-carousel">
                            <a href="#one2" style="background: #40240d">
                            </a>
                            <a href="#two2" style="background: #8e592e">
                            </a>
                            <a href="#three2" style="background: #c16a25">
                            </a>
                        </div>


                    </div>

                </div>
                <div class="item-large">
                    <div class="item1">

                        <div class="slider-large owl-carousel">
                            <div class="item" data-hash="one1">
                                <img src="images/img12.png" alt="">
                            </div>
                            <div class="item" data-hash="two1">
                                <img src="images/img13.png" alt="">
                            </div>
                            <div class="item" data-hash="three1">
                                <img src="images/img14.png" alt="">
                            </div>

                        </div>

                        <div class="nav-item1">
                            <h3 class="title-product"><a href="">KÍNH ÁP TRÒNG CẬN LOẠN 24H</a></h3>
                            <p class="price">1.800.000đ</p>
                        </div>
                        <div class="slider-small owl-carousel">
                            <a href="#one1" style="background: #40240d">
                            </a>
                            <a href="#two1" style="background: #8e592e">
                            </a>
                            <a href="#three1" style="background: #c16a25">
                            </a>
                        </div>


                    </div>

                </div>


                <div class="clearfix"></div>
            </div>
            <div class="xemtatca">
                <a href="">Xem tất cả</a>
            </div>
        </div>
    </section>
    <section class="selling-products">
        <div class="container">
            <div class="title-title center">
                <h2 class="title-primary">Sản phẩm bán chạy</h2>
            </div>
            <div class="nav-selling-products">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="item-selling">

                            <div class="slider-large owl-carousel">
                                <div class="item" data-hash="anh1">
                                    <img src="images/img9.png" alt="">
                                </div>
                                <div class="item" data-hash="anh2">
                                    <img src="images/img10.png" alt="">
                                </div>
                                <div class="item" data-hash="anh3">
                                    <img src="images/img11.png" alt="">
                                </div>

                            </div>

                            <div class="nav-item1">
                                <h3 class="title-product"><a href="">KÍNH ÁP TRÒNG CẬN LOẠN 24H</a></h3>
                                <p class="price">1.800.000đ</p>
                            </div>
                            <div class="slider-small owl-carousel">
                                <a href="#anh1" style="background: #40240d">
                                </a>
                                <a href="#anh2" style="background: #8e592e">
                                </a>
                                <a href="#anh3" style="background: #c16a25">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="item-selling">

                            <div class="slider-large owl-carousel">
                                <div class="item" data-hash="anh4">
                                    <img src="images/img9.png" alt="">
                                </div>
                                <div class="item" data-hash="anh5">
                                    <img src="images/img10.png" alt="">
                                </div>
                                <div class="item" data-hash="anh6">
                                    <img src="images/img11.png" alt="">
                                </div>

                            </div>

                            <div class="nav-item1">
                                <h3 class="title-product"><a href="">KÍNH ÁP TRÒNG CẬN LOẠN 24H</a></h3>
                                <p class="price">1.800.000đ</p>
                            </div>
                            <div class="slider-small owl-carousel">
                                <a href="#anh4" style="background: #40240d">
                                </a>
                                <a href="#anh5" style="background: #8e592e">
                                </a>
                                <a href="#anh6" style="background: #c16a25">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="item-selling">
                            <div class="slider-large owl-carousel">
                                <div class="item" data-hash="anh7">
                                    <img src="images/img9.png" alt="">
                                </div>
                                <div class="item" data-hash="anh8">
                                    <img src="images/img10.png" alt="">
                                </div>
                                <div class="item" data-hash="anh9">
                                    <img src="images/img11.png" alt="">
                                </div>

                            </div>

                            <div class="nav-item1">
                                <h3 class="title-product"><a href="">KÍNH ÁP TRÒNG CẬN LOẠN 24H</a></h3>
                                <p class="price">1.800.000đ</p>
                            </div>
                            <div class="slider-small owl-carousel">
                                <a href="#anh7" style="background: #40240d">
                                </a>
                                <a href="#anh8" style="background: #8e592e">
                                </a>
                                <a href="#anh9" style="background: #c16a25">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="item-selling">

                            <div class="slider-large owl-carousel">
                                <div class="item" data-hash="anh10">
                                    <img src="images/img9.png" alt="">
                                </div>
                                <div class="item" data-hash="anh11">
                                    <img src="images/img10.png" alt="">
                                </div>
                                <div class="item" data-hash="anh12">
                                    <img src="images/img11.png" alt="">
                                </div>

                            </div>

                            <div class="nav-item1">
                                <h3 class="title-product"><a href="">KÍNH ÁP TRÒNG CẬN LOẠN 24H</a></h3>
                                <p class="price">1.800.000đ</p>
                            </div>
                            <div class="slider-small owl-carousel">
                                <a href="#anh10" style="background: #40240d">
                                </a>
                                <a href="#anh11" style="background: #8e592e">
                                </a>
                                <a href="#anh12" style="background: #c16a25">
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="new-page-home">
        <div class="container">
            <div class="title-title center">
                <h2 class="title-primary">Tin tức - sự kiện</h2>

            </div>
            <div class="slider-new owl-carousel">
                <div class="item">
                    <div class="image">
                        <a href=""><img src="images/img19.png" alt=""></a>
                    </div>
                    <h3 class="title"><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ipsum
                        ante</a></h3>
                </div>
                <div class="item">
                    <div class="image">
                        <a href=""><img src="images/img19.png" alt=""></a>
                    </div>
                    <h3 class="title"><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ipsum
                        ante</a></h3>
                </div>
                <div class="item">
                    <div class="image">
                        <a href=""><img src="images/img19.png" alt=""></a>
                    </div>
                    <h3 class="title"><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ipsum
                        ante</a></h3>
                </div>
            </div>
        </div>
    </section>
    <section class="register-home">
        <div class="container">
            <div class="title-title center">
                <h2 class="title-primary">Đăng ký tư vấn</h2>
            </div>
            <div class="nav-register-home">
                <form action="">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input type="text" placeholder="Họ và tên">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input type="text" placeholder="Điện thoại">
                        </div>
                    </div>
                    <input type="text" placeholder="Email">
                    <input type="submit" value="Đăng ký ngay">
                </form>
            </div>
        </div>
    </section>
    <footer id="footer-site">
        <div class="footer-1">
            <div class="container">
                <div class="wp-ft">
                    <h3 class="h3-title-ft">Tên doanh nghiệp Perfectlens.vn</h3>
                    <p>Địa chỉ: Số 393 C9, ngõ 210 Đường Tân Mai, Tân Mai, Q. Hoàng Mai, Hà Nội.</p>
                    <p>Số điện thoại: 0123.456.789</p>
                    <p>Email: demo@gmail.com</p>
                    <p>Website: demo.com</p>
                    <p>Giờ làm việc: T2-CN, 9:00-20:00</p>

                    <div class="link-xh">
                        <ul>

                            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fab fa-twitter"></i></a></li>
                            <li><a href=""><i class="fab fa-instagram"></i></a></li>
                            <li><a href=""><i class="fab fa-google"></i></a></li>
                            <li><a href=""><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right">
            <div class="container">
                <div class="wp-copy text-center">
                    Bản quyền thuộc về... Thiết kế website bởi <a href="https://ovn-admin.vn/" target="_blank">Tâm
                    Phát</a>
                </div>
            </div>
        </div>
    </footer>
    <div class="toolbar">
        <div class="inner">
            <a class="zalo" href="" title=""><img src="images/icon-zalo.png" alt=""></a>
            <a class="fone" href="tel:0904720388" title="0904720388"><img src="images/phone.png" alt=""></a>
            <a class="messenger" href=" "><img src="images/mes.png"></a>
        </div>
    </div>
    <a id="scrollUp"><i class="fa fa-angle-up"></i></a>
</div>

<!-- Modal -->
<div id="myModal" class="modal-search modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <form action="">
                    <input type="text">
                    <input type="submit" value="Tìm kiếm">
                </form>
            </div>

        </div>

    </div>
</div>


</div>
<!-- div end site -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/swiper.min.js"></script>
<script type="text/javascript" src="js/swiper.min.js.map"></script>
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<script src="js/all.js"></script>
<script src="js/hc-offcanvas-nav.js"></script>

<script type="text/javascript" src="js/main.js"></script>

</body>
</html>